.idea/
node/node_modules/
node/settings/beaglebone.js
sim-server/node_modules/
web/configuration.php
web/node_modules/
web-dist/css/combined.css
web-dist/js/combined.js
web-dist/configuration.php

node/public/modules

node/views/index.html
