<!DOCTYPE html>
<html ng-app="qwestaApp">
<head lang="de">
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- Angular.js -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <!-- Charts, only available online -->
    <script src="https://www.google.com/jsapi"></script>
    <!-- Bootstrap UI, only available locally -->
    <script src="js/ui-bootstrap-tpls-0.11.2.min.js"></script>

    <script src="js/qwesta.min.js"></script>

    <link rel="stylesheet" href="css/qwesta.min.css">

    <!-- See http://getbootstrap.com/examples/theme/# -->
    <meta http-equiv="cache-control" content="no-cache">
    <title>Wetterstation</title>
</head>
<body>


<div ng-controller="QwestaCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12"><h1>Aktuelles Wetter</h1></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 currentdata"><img src="img/icon32/thermometer31.png">
                {{data.temperature}}°C
            </div>
            <div class="col-xs-12 col-sm-3 currentdata"><img src="img/icon32/humidity.png">{{data.humidity}}%</div>
            <div class="col-xs-12 col-sm-3 currentdata"><img src="img/icon32/winds4.png"> {{data.wind}} km/h</div>
            <div class="col-xs-12 col-sm-3 currentdata"><img src="img/icon32/water35.png"> {{data.rain}} l/h</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12"><h1>Verlauf</h1></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12" id="chart"></div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" id="graph0" ng-click="set(0)"><img
                    src="img/icon32/thermometer31.png"><br>1 Tag
            </div>
            <div class="col-xs-4 col-sm-4 col-md-1  qwesta-stats" id="graph1" ng-click="set(1)"><img
                    src="img/icon32/thermometer31.png"><br>7 Tage
            </div>
            <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" id="graph2" ng-click="set(2)"><img
                    src="img/icon32/thermometer31.png"><br>Monat
            </div>
            <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" id="graph3" ng-click="set(3)"><img
                    src="img/icon32/humidity.png"><br>1 Tag
            </div>
            <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" id="graph4" ng-click="set(4)"><img
                    src="img/icon32/humidity.png"><br>7
                Tage
            </div>
            <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" id="graph5" ng-click="set(5)"><img
                    src="img/icon32/humidity.png"><br>Monat
            </div>
            <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" id="graph6" ng-click="set(6)"><img
                    src="img/icon32/winds4.png"><br>1 Tag
            </div>
            <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" id="graph7" ng-click="set(7)"><img
                    src="img/icon32/winds4.png"><br>7
                Tage
            </div>
            <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" id="graph8" ng-click="set(8)"><img
                    src="img/icon32/winds4.png"><br>Monat
            </div>
            <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" id="graph9" ng-click="set(9)"><img
                    src="img/icon32/water35.png"><br>1 Tag
            </div>
            <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" id="graph10" ng-click="set(10)"><img
                    src="img/icon32/water35.png"><br>7
                Tage
            </div>
            <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" id="graph11" ng-click="set(11)"><img
                    src="img/icon32/water35.png"><br>Monat
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 center-block text-center">
                <img src="img/icon32/information68.png">
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4 datepicker center-block text-center">
                <datepicker ng-model="startDate" min-date="minDate" max-date="maxDate" show-weeks="false"
                            class="well well-sm"
                            starting-day="1" ng-change="setDate()"></datepicker>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 center-block text-center">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Kusti Meteo Ads, remove or change to your ID (unless I can get the revenue...)  -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:250px"
                     data-ad-client="ca-pub-3641306691523570"
                     data-ad-slot="8486365630"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

        </div>
    </div>
</div>

</body>
</html>