.currentdata {
    background-color: rgba(35, 143, 175, 0.25);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80px;
    font-size: 36px;
}

.qwesta-stats {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 25px;
}

.qwesta-stats-selected {
    background-color: #c4e3f3;
}

.datepicker {
    display: inline-block;
    min-height: 290px;
}

/* override for the datepicker css */
.well {
    background-image: none;
    background-color: transparent;
    border: none;
}
#chart {
    height: 500px;

}

