.currentdata {
    background-color: rgba(35, 143, 175, 0.25);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80px;
    font-size: 36px;
}

.qwesta-stats {
    text-align: center;
}

.qwesta-stats-selected {

}

#chart {
    height: 600px;
    width: 100%;
}