<!DOCTYPE html>
<html ng-app="qwestaApp">
<head lang="de">
    <meta charset="UTF-8">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <!-- Qwesta CSS -->
    <link rel="stylesheet" href="css/qwestaweb.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.1.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Charts -->
    <script src="https://www.google.com/jsapi"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <!-- Angular application for current weather -->
    <script src="js/charts.js?v=2"></script>
    <script src="js/qwestactrl.js?v=1"></script>

    <!-- See http://getbootstrap.com/examples/theme/# -->
    <meta http-equiv="cache-control" content="no-cache">
    <title>Wetterstation</title>
</head>
<div ng-controller="QwestaCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12"><h1>Aktuelles Wetter</h1></div>
            <div class="row">
                <div class="col-xs-12 col-sm-3 currentdata"><img src="img/icon32/thermometer31.png">
                    {{data.temperature}}°C
                </div>
                <div class="col-xs-12 col-sm-3 currentdata"><img src="img/icon32/humidity.png">{{data.humidity}}%</div>
                <div class="col-xs-12 col-sm-3 currentdata"><img src="img/icon32/winds4.png"> {{data.wind}} km/h</div>
                <div class="col-xs-12 col-sm-3 currentdata"><img src="img/icon32/water35.png"> {{data.wind}} l/h</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12"><h1>Verlauf</h1>
            </div>


            <pre>Selected date is: <em>{{startdate | date:'fullDate' }}</em></pre>


            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startdate"
                               is-open="opened" min-date="minDate" max-date="'2015-06-22'"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               ng-required="true" close-text="Schliessen" current-text="Heute" clear-text="Löschen"
                               ng-change="test()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                </div>
            </div>


            <!--
                                <label for="date1" class="control-label">Start Datum:</label>
                                <input type="date" id="date1" class="form-control" name="startdate" placeholder="yyyy-mm-dd" value="{{2014-11-13}}" ng-change="test()">
                          -->
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10">
        </div>
    </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" id="chart">
                    <div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" ng-click="set(0)"><img
                        src="img/icon32/thermometer31.png"><br>Heute
                </div>
                <div class="col-xs-4 col-sm-4 col-md-1  qwesta-stats" ng-click="set('02')"><img
                        src="img/icon32/thermometer31.png"><br>7 Tage
                </div>
                <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" ng-click="set('03')"><img
                        src="img/icon32/thermometer31.png"><br>Monat
                </div>
                <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" ng-click="set(4)"><img
                        src="img/icon32/humidity.png"><br>Heute
                </div>
                <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" ng-click="set('05')"><img
                        src="img/icon32/humidity.png"><br>7
                    Tage
                </div>
                <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" ng-click="set('06')"><img
                        src="img/icon32/humidity.png"><br>Monat
                </div>
                <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" ng-click="set('07')"><img
                        src="img/icon32/winds4.png"><br>Heute
                </div>
                <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" ng-click="set('08')"><img
                        src="img/icon32/winds4.png"><br>7
                    Tage
                </div>
                <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" ng-click="set('09')"><img
                        src="img/icon32/winds4.png"><br>Monat
                </div>
                <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" ng-click="set('10')"><img
                        src="img/icon32/water35.png"><br>Heute
                </div>
                <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" ng-click="set('11')"><img
                        src="img/icon32/water35.png"><br>7
                    Tage
                </div>
                <div class="col-xs-4 col-sm-4 col-md-1 qwesta-stats" ng-click="set('12')"><img
                        src="img/icon32/water35.png"><br>Monat
                </div>
            </div>
        </div>
    </div>
</div>
<body>
</body>
</html>